@font-face {
    font-family: 'Plainsound Sans';
    src: url("./fonts/PlainsoundSans-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plainsound Sans';
    src: url("./fonts/PlainsoundSans-Italic.otf");
    font-weight: normal; 
    font-style: italic;
}

@font-face {
    font-family: 'Plainsound Sans';
    src: url("./fonts/PlainsoundSans-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

body {
	background-image: url("Pattern3D_06.png");
    transition: transform .3s ease-in-out;
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
    overflow: hidden;
    font-family: 'Plainsound Sans', sans-serif;
}

table {
  width: 100%;
}
.wide {
  width: 50%;
}

#leftaligned {
    text-align: left;
}

#centered {
    text-align: center;
}

#sidebar {
    background-color: white;
    transition: transform 0.3s ease-in-out;
    z-index: 10;
    overflow: auto;
    background-color: rgb(243, 241, 240);
        color: rgb(92, 89, 96);
}

#sidebar-button {
    position: fixed;
    z-index: 11;
    background-color: #7cb7ff;
    border: 1px solid #0057C0;
}

a {
    color: #157FFF;
}
/* Sidebar is attached to top and fills viewport for small screens */
@media (max-width: 480px) {
    #sidebar {
        height: 100vh;
        width: 100vw;
        padding-top: 4em;
        background-color: rgb(243, 241, 240);
        color: rgb(92, 89, 96);
    }

    #sidebar-button {
        height: 2.5em;
        top: 0;
        left: 50vw;
        transform: translate(-50%, 0);
        transition: width 0.3s ease-in-out;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .hide #sidebar {
        transform: translate(0, -100%);
    }

    .show #sidebar {
        transform: translate(0, 0);
    }

    .hide #sidebar-button {
        width: 2.5em;
    }

    .show #sidebar-button {
        width: 50vw;
    }

    .hide #sidebar-button div {
        transform: rotate(90deg);
    }

    .show #sidebar-button div {
        transform: rotate(270deg);
    }
}

/* Sidebar is attached to left side for larger screens */
@media (min-width: 480px) {
    #sidebar {
        height: 100vh;
        max-width: 40em;
        padding-left: 3.5em;
        padding-right: 1em;
        background-color: rgb(235, 232, 230);
        color: rgb(103, 101, 106);
    }

    #sidebar-button {
        width: 2.5em;
        top: 50vh;
        left: 0;
        transform: translate(0, -50%);
        transition: height 0.3s ease-in-out;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .hide #sidebar {
        transform: translate(-100%, 0);
    }

    .show #sidebar {
        transform: translate(0, 0);
    }

    .hide #sidebar-button {
        height: 2.5em;
    }

    .show #sidebar-button {
        height: 35vh;
    }

    .hide #sidebar-button div {
        transform: rotate(0deg);
    }

    .show #sidebar-button div {
        transform: rotate(180deg);
    }
}
